<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <context-param>
		<param-name>contextConfigLocation</param-name>
<!-- 		<param-value>classpath:/spring/reversosDePago/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/MediosMagneticos/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/ResReaperturaCreditoCierreObl/*.xml</param-value>  -->
<!-- 		<param-value>classpath:/spring/ReaperturaCreditoCierreObl/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/activaciones/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/ConfiguracionFTP/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/controlRecaudo/*.xml</param-value>  -->
<!--		<param-value>classpath:/spring/InformacionPreciosDigitales/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/procesosCobranzas/*.xml</param-value> -->
<!--  		<param-value>classpath:/spring/ajustesAscard/*.xml</param-value> -->
<!--  		<param-value>classpath:/spring/cierreObligaciones/*.xml</param-value> -->
<!--  	    <param-value>classpath:/spring/ReporteActivacionesFallidas/*.xml</param-value> -->
<!--   		<param-value>classpath:/spring/registrarBeneficioFinanciacion/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/pagosNoAbonado/*.xml</param-value> -->
<!--  		<param-value>classpath:/spring/CuotasGratis/*.xml</param-value> -->
<!--        <param-value>classpath:/spring/RegistrarRespuestaNovedades/*.xml</param-value> -->
<!--        <param-value>classpath:/spring/ReportesSaldoFavor/*.xml</param-value> -->
<!--  		<param-value>classpath:/spring/PromocionAscard/*.xml</param-value> -->
<!--        <param-value>classpath:/spring/InhabilitacionTerminales/*.xml</param-value> -->
<!--      	<param-value>classpath:/spring/consultaUsuarios/*.xml</param-value> -->
<!--	    <param-value>classpath:/spring/imeiReprocesados/*.xml</param-value> -->
<!--   		<param-value>classpath:/spring/actualizacionSaldos/*.xml</param-value> -->
<!--  	 	<param-value>classpath:/spring/salidaRecaudosASCARD/*.xml</param-value> -->
<!--        <param-value>classpath:/spring/ciclosFacturacion/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/gestorDeBloqueo/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/cambioTasasInteres/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/cancelacionCreditoReporteDiario/*.xml</param-value>  -->
<!-- 		<param-value>classpath:/spring/cancelacionCreditoReporteMensual/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/accesoUsuario/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/novedadesNoMonetarias/*.xml</param-value>  -->
<!-- 		<param-value>classpath:/spring/novedadesNoMonetariasV2/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/RespuestaNovedadesNoMonetariasV2/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/reporteBloqueoEquipos/*.xml</param-value> -->
 		<param-value>classpath:/spring/relanzamientoActivacion/*.xml</param-value>
<!-- 		<param-value>classpath:/spring/cargueMasivo/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/reintentoActualizacionIMEI/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/reporteActualizacionIMEI/*.xml</param-value>  -->
<!-- 		<param-value>classpath:/spring/reporteFacturacion/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/creditosCastigados/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/respuestaCreditosCastigados/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/reporteTasasInteres/*.xml</param-value>  -->
<!--		<param-value>classpath:/spring/aperturaCreditosCastigados/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/respuestaAperturaCreditosCastigados/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/actualizacionCreditosCastigadosDatgen/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/actualizacionCreditosCastigadosEdadMora/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/actualizacionCreditosCobranzaIntegrador/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/reporteDataCredito/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/AuditoriaSOX/*.xml</param-value> -->
<!-- 		<param-value>classpath:/spring/reporteCreditoCastigadosAct/*.xml</param-value> -->
<!--      	<param-value>classpath:/spring/consultaUsr/*.xml</param-value> -->
<!--      	<param-value>classpath:/spring/DesglosePagos/*.xml</param-value> -->
<!--     	<param-value>classpath:/spring/tasaCredito/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/activacionFinanciacionReserva/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/reporteInterfazContableIntegrador/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/reporteCRMDIntegrador/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/ventaCarteraActivar/*.xml</param-value>  -->
<!--		<param-value>classpath:/spring/reporteCreditosInsolutos/*.xml</param-value> -->
<!--		<param-value>classpath:/spring/reporteCancelacionCreditoDigital/*.xml</param-value> -->
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
